[submodule "plugins/redmine_tags"]
	path = plugins/redmine_tags
	url = https://github.com/exocad/redmine_tags
[submodule "plugins/redmine_contacts_helpdesk"]
	path = plugins/redmine_contacts_helpdesk
	url = https://github.com/exocad/redmine_contacts_helpdesk
	branch = redmine_contacts_helpdesk-4_0_2
[submodule "redmine_contacts"]
	path = plugins/redmine_contacts
	url = https://github.com/exocad/redmine_contacts
	branch = exomine-redmine_contacts-4_2_4-pro
[submodule "plugins/clipboard_image_paste"]
	path = plugins/clipboard_image_paste
	url = https://github.com/exocad/clipboard_image_paste
[submodule "/public/themes/exocad"]
	path = public/themes/exocad
	url = https://github.com/exocad/exocadRedmineTheme
